*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#965c96

}

#temporizador{
  
  font-size: 3em;
  text-shadow: black;
  color: white;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h5{
  font-size: 2em;
  text-shadow: black;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#almacenarTiempos{
  font-size: 1.5em;
  text-shadow: black;
  color: white;
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


/*//////////////////////////////////////////////////////////////////////*/
/*BOTON INICIAR */ 
#iniciarS {
    background: #e999fd;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
  }
  
  #iniciarS:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
  #iniciarS:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }

/*//////////////////////////////////////////////////////////////////////*/
/*BOTON GRABAR*/ 

#grabar {
    background: #bb5cd3;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
  }
  
  #grabar:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
  #grabar:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }

/*//////////////////////////////////////////////////////////////////////*/
/*BOTON REINICIAR*/   

#resetear {
    background: #a07ba8;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
  }
  
  #resetear:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
  #resetear:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }


  .botones button.active,
  .botones button.stopActive{
    pointer-events: none;
    opacity: .7;
  }